/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap'); */

.button {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    border: none;
    background: none;
    height: 25px;
    color: white;
    position: relative;
    padding: 0 10px 10px 10px;
}

.button:hover {
    cursor: pointer;
}

.button::after {
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -0.5px;
    transition: 0.3s;
}

.button:hover:after {
    width: 100%;
}

.card {
    font-family: 'Roboto Mono', monospace;
    display: grid;
    background-color: rgb(137, 143, 163);
    border-radius: 8px;
    width: 70%;
    height: 50%;
    overflow: show;
    border: 4px solid rgb(170, 7, 7);
    padding: 10px;
    color: black;
    margin: 0 auto; /* Centra la carta horizontalmente en la pantalla */
  margin-top: 10vh;
  
}

.cardContainer {
    display: grid;
    place-content: center;
    margin-top: 10vh;
}

/* 
 .aboutCard::-webkit-scrollbar{
    width: 7px;
  }
  .aboutCard::-webkit-scrollbar-thumb{
    background: red;
  } */

.img {
    border-radius: 8px;
    border: 1px solid lightgray;
    margin: auto;
    transition: 0.5s;
    max-width: 40%;
    max-height: 30%;
    object-fit: cover;
}

.img:hover {
    transform: scale(1.02);
}